## getting the content of the website
For now this is specfic for PBO competitie 2017-2018

In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
from services.toernament_processor import TournamentProcessor
from services.club_processor import ClubProcessor

tournamentProcessor = TournamentProcessor()
clubProcessor = ClubProcessor()

# Getting tournaments

In [4]:
tournaments = tournamentProcessor.get_tournaments(2018, 'pbo')

# Exit when no tournaments were found
if len(tournaments) <= 0:
    exit()

## Getting the clubs

In [5]:
# Exit when no clubs were found
clubs = tournamentProcessor.get_clubs(tournaments[0].tournament_id)

if len(clubs) <= 0:
    exit()

## adding players to the clubs

In [11]:
print(clubs[25].club_id)
clubs[25].players = clubProcessor.get_players(tournaments[0], clubs[25])

33

In [12]:
import pandas as pd

df = pd.DataFrame.from_records(
    [s.to_dict() for s in clubs[25].players], 
    columns=['name', 'gender', 'number', 'single', 'double', 'mix']
)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>gender</th>
      <th>number</th>
      <th>single</th>
      <th>double</th>
      <th>mix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bastien,  Steven</td>
      <td>Gender.MALE</td>
      <td>50021771</td>
      <td>C2</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Goethals,  Rudi</td>
      <td>Gender.MALE</td>
      <td>50086038</td>
      <td>D</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Goethals,  Sam</td>
      <td>Gender.MALE</td>
      <td>50070868</td>
      <td>C2</td>
      <td>C1</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Hugaert,  Hannes</td>
      <td>Gender.MALE</td>
      <td>50769804</td>
      <td>C2</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Latomme,  Glenn</td>
      <td>Gender.MALE</td>
      <td>50104197</td>
      <td>D</td>
      <td>C2</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Lauwers,  Anton</td>
      <td>Gender.MALE</td>
      <td>50082108</td>
      <td>D</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Meyvaert,  Koen</td>
      <td>Gender.MALE</td>
      <td>50605860</td>
      <td>C2</td>
      <td>D</td>
      <td>D</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Meyvaert,  Wim</td>
      <td>Gender.MALE</td>
      <td>50293613</td>
      <td>D</td>
      <td>D</td>
      <td>D</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Mussche,  Tim</td>
      <td>Gender.MALE</td>
      <td>50830589</td>
      <td>D</td>
      <td>D</td>
      <td>D</td>
    </tr>
    <tr>
      <th>9</th>
      <td>schoonackers,  simon</td>
      <td>Gender.MALE</td>
      <td>50936638</td>
      <td>C2</td>
      <td>C2</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Steps,  Bart</td>
      <td>Gender.MALE</td>
      <td>50008102</td>
      <td>C2</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Van De Poel,  Maarten</td>
      <td>Gender.MALE</td>
      <td>50839632</td>
      <td>D</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Van De Vijver,  Wouter</td>
      <td>Gender.MALE</td>
      <td>50070864</td>
      <td>C1</td>
      <td>C2</td>
      <td>C1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Van Den Bossche,  Thomas</td>
      <td>Gender.MALE</td>
      <td>50070871</td>
      <td>C2</td>
      <td>C1</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Van Hoyweghen,  Mario</td>
      <td>Gender.MALE</td>
      <td>50077523</td>
      <td>D</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Van Waeyenberghe,  Mikal</td>
      <td>Gender.MALE</td>
      <td>50112449</td>
      <td>C1</td>
      <td>C1</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Verstraete,  Simon</td>
      <td>Gender.MALE</td>
      <td>50070880</td>
      <td>C2</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Wauters,  Boris</td>
      <td>Gender.MALE</td>
      <td>50112880</td>
      <td>C2</td>
      <td>C2</td>
      <td>D</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Wittevrongel,  Tony</td>
      <td>Gender.MALE</td>
      <td>50026703</td>
      <td>D</td>
      <td>D</td>
      <td>D</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Baeckeland,  Karen</td>
      <td>Gender.FEMALE</td>
      <td>50079779</td>
      <td>D</td>
      <td>D</td>
      <td>D</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Bauters,  Eveline</td>
      <td>Gender.FEMALE</td>
      <td>50070859</td>
      <td>C2</td>
      <td>C1</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Cambron,  Manon</td>
      <td>Gender.FEMALE</td>
      <td>50439820</td>
      <td>C1</td>
      <td>C1</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Criel,  Ine</td>
      <td>Gender.FEMALE</td>
      <td>50070881</td>
      <td>C1</td>
      <td>C1</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>De Smet,  Delphine</td>
      <td>Gender.FEMALE</td>
      <td>50070879</td>
      <td>C2</td>
      <td>C1</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Goethals,  Shauni</td>
      <td>Gender.FEMALE</td>
      <td>50098807</td>
      <td>C1</td>
      <td>C1</td>
      <td>C2</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Van De Vijver,  Eline</td>
      <td>Gender.FEMALE</td>
      <td>50070870</td>
      <td>D</td>
      <td>D</td>
      <td>D</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Van De Vijver,  Lisa</td>
      <td>Gender.FEMALE</td>
      <td>50108851</td>
      <td>C1</td>
      <td>C1</td>
      <td>C1</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
from json_tricks import dumps
import json

with open('data.json', 'w') as outfile:
    json.dump(dumps(clubs, primitives=True), outfile)